@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

::-moz-selection {
  /* Code for Firefox */
  color: #fff;
  background: #00326f;
}

::selection {
  color: #fff;
  background: #00326f;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  /* height: 100vh; */
  /* width: 100vw; */
}

* {
  box-sizing: border-box;
}

.swiper-pagination-bullet {
  background-color: transparent !important;
  border: 1px solid rgba(255, 255, 255, 0.568);
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  background-color: #fff !important;
}

@layer components {
  .primary-padding {
    @apply px-2 md:px-4 xl:px-[5rem] py-2;
  }

  input {
    @apply outline-none bg-[#00326f08] border-2 border-[#00326f10] px-4 rounded-sm py-2 focus:border-primary-blue duration-300;
  }

  label {
    @apply font-bold text-secondary-blue;
  }
}
